@charset "UTF-8";
// Sub theme styling.
@import 'variables_drupal';

// Bootstrap overriden variables.
// @see https://getbootstrap.com/docs/5.1/customize/sass/#variable-defaults.
@import 'variables_bootstrap';

// Include bootstrap.
@import '../../../../themes/contrib/bootstrap5/scss/style';

body {

  @extend .bg-light;

  header.navbar {
    nav.navbar {
      padding-right: var(--bs-gutter-x,0.75rem);
      padding-left: var(--bs-gutter-x,0.75rem);
      margin-right: auto;
      margin-left: auto;
      max-width: 1320px;
      width: 100%;

      #navbarSupportedContent {
        @extend .bg-light;
      }

      @media (max-width: 63em) {
        button.navbar-toggler {
          max-height: 3rem;
        }

        // We want the menu on its own index in the mobile view
        #navbarSupportedContent {
          li.nav-item {
            clear: both;

            .dropdown-toggle::after {
              display: none !important;
            }
            ul.dropdown-menu {
              display: block;
              position: relative !important;
              z-index: 1;
              border: 0 !important;
              background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity)) !important;
            }
          }
        }
      }

      ul.navbar-nav {
        display: block !important;

        li.nav-item {
          float: left;

          &:hover, &:active {
            .dropdown-menu {
              @extend .show;
            }
          }
          .dropdown-menu {

            position: absolute !important;

            li.nav-item {
              width: 100%;
              display: block;

              a.dropdown-item {
                &:hover {
                  width: 100%;
                  display: block;
                }
              }
            }
          }
        }
      }
    }
  }

  section.hero {
    background: #e9eef7 url("../images/solnedgang.jpg");
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-position: center center;
    padding: 10em 0 12em 0;
    -moz-box-shadow: 0 0 1000px 1000px #000 inset;
    -webkit-box-shadow: 0 0 1000px 1000px rgba(0, 0, 0, 0.5) inset;
    box-shadow: 0 0 1000px 1000px rgba(0, 0, 0, 0.5) inset;
    margin-bottom: 3rem;

      h2 {
        color: #FFF;
        font-size: 1.25rem;
        line-height: 1.4;
        margin-top: 0;
        margin-bottom: .5rem;
      }
      h2.front {
        color: #FFF;
        font-size: 2.5rem;
        padding: 0 13rem;
        @media (max-width: 63em) {
          font-size: 2rem;
        }
      }
  }
}
