<header class="{% if is_front %}frontpage{% else %}node{% endif %}">

  {% if page.header %}
    <div class="row collapsed">
      {{ page.header }}
    </div>
  {% endif %}

</header>
<div class="main">
  {% if is_front %}
    <section class="hero">
      <div class="row">
        <div class="small-12 columns">
          <h2 class="front">ITOTKO - It takes one to know one</h2>
        </div>
      </div>
    </section>
  {% endif %}
  <section class="{% if is_front %}frontpage{% else %}node{% endif %}">
    <div class="row">
      <div class="small-12 {% if page.sidebar_first %}large-8 {% endif %} columns">
        {{ page.content }}
      </div>
      {% if page.sidebar_first %}
        <div class="small-12 large-4 columns">
          {{ page.sidebar_first }}
        </div>
      {% endif %}
    </div>
  </section>
</div>