<header class="{% if is_front %}frontpage{% else %}node{% endif %}">
  {% if page.header %}
    <div class="row collapsed">
      {{ page.header }}
    </div>
  {% endif %}
</header>
<div class="main">
  {% if is_front %}
    <section class="hero">
      <div class="row">
        <div class="small-12 columns">
          <h2>Kæmp imod sensitiviteten<br/>
            - Meld dig under Berith's faner</h2>
        </div>
      </div>
    </section>
  {% endif %}
  <section class="{% if is_front %}frontpage{% else %}node{% endif %}">
    <div class="row">
      <div class="small-12 large-8 columns">
        {{ page.content }}
      </div>
      <div class="small-12 large-4 columns">
        {% if page.sidebar_first %}
          {{ page.sidebar_first }}
        {% endif %}
      </div>
    </div>
  </section>
</div>
